html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
}

body{
    background-color: black;
    margin: 0px;
    width: 100vw;
}
#container{
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar{
    position: fixed;
    display: flex;
    background-color: black;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#menuicon{
    color: white;
    font-size: 50px;
    margin-left: 20px;
    display: none;
}
.box_1 ul{
    display: flex;
   
    
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: 25px;
}
.box_1 ul li a{
    margin: 15px;
    color: white;
}
.logo{
   
   width: 200px;
}
.boxes{
    width: 100vw;
    height: fit-content;
    border-bottom: 2px solid gray;
    margin: 20px;
}
#close{
    font-size: 50px;
}
#clockimg{
    width: 300px;
    border-radius: 50%;
    padding: 50px;
}
#alarmcoin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
#alarmbtn{
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px gray;
    cursor: pointer;
}
#alarmbtn:hover , #alarmbtn:active{
    background-color: red;
}
#box1{
    padding-top: 20px;
}
#box3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#notepad{
    cursor: pointer;
    font-size: 10rem;
    font-weight: bold;
    border: 5px dashed white;
    border-radius: 30%;
    padding: 50px;
    color: white;
    margin-bottom: 20px;
}
#notepad:hover,#notepad:active{
    color: red;
}
.notepad-head{
    font-size: 40px;
    color: white;
}

#timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#timerpera{
    color: white;
    font-size: 30px;
}
.itemlist{
    display: flex;
}
.itemlist div{
    margin: 20px;
}

.btnpointer{
   width: 50px;
   height: 30px;
   font-size: 25px;
}
@media (max-width:881px) {
    #menulist{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 50px;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: scroll;
        background-color: white;
        border-radius: 30px;
        display: none;
        
    }  
    .box_1 ul li a{
        color: black;
    } 
    .box_1 ul li {
        margin: 20px;
    } 
    #navbar{
        height: 70px;
    }
    #menuicon{
        display: block;
    }
}
@media (min-width:881px){
    #close{
        display: none;
    }
}
@media (max-width:430px) {
    #clockimg{
        width: 200px;
    } 
   
    #menuicon{
        position: relative;
        left: 20px;
    }
}
@media (max-width:273px){
    .logo{
        width: 150px;
    }
    #menuicon{
        position: relative;
        left: 40px;
       font-size: 30px;
    }
}
@media (max-width:149px){
    .logo{
        width: 150px;
        position: relative;
        left: 60px;
    }
    #menuicon{
        position: relative;
        left: 45px;
       font-size: 30px;
    }
}
